---
BasedOnStyle: Google
SortIncludes: Never
AllowShortCaseLabelsOnASingleLine: true
IndentCaseBlocks: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlignAfterOpenBracket: AlwaysBreak

